.user{
    // background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    flex: 1;
    &__fab{
        position: fixed;
        top: 0;
        right: 0;
    }
    &__header{
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #f4f4f4;
    }
    &__footer{
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}