.index{
    position: relative;
    height: '100%';
    overflow: hidden;
    &__fab{
        position: fixed;
        bottom: 0px;
        left: 0;
        bottom: 0;
        z-index: 10;
    }
    &__header{
        // height: '100%';
        // width: '100%';
        // position: absolute;
        // top: 0px;
        // left: 0;
        // right: 0;
        // bottom: 0;
    }
    &__body{
        // overflow: hidden;
        
    }
}